<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mymusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SpalshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MusicListActivity" />
        <activity android:name=".PlayActivity" />

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Wiget.MusicWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.mymusic.UPDATEPAUSEWIDGET"/>
                <action android:name="com.example.mymusic.MUSICSLOAD_ACTION"/>
                <action android:name="com.example.mymusic.UPDATEPLAYWIDGET"/>
                <action android:name="com.example.mymusic.UPDATENEXTWIDGET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info" />
        </receiver>
    </application>

</manifest>